body{
    background-color: white;
}

p{
    display: block;
    color:white;
    background-color: green;
    cursor: pointer;
}

p:nth-child(2n){
    background-color: blue;
    display: none;
}